Source: linux-signed-i386
Section: utils
Priority: optional
Maintainer: gfdgd_xi <3025613752@qq.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://gitee.com/GXDE-OS/linux-signed-i386

Package: linux-image-686
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-image-6.1.0-33-686,
Provides: 
 linux-latest-modules-6.1.0-33-686, 
 virtualbox-guest-modules, 
 wireguard-modules (= 1.0.0)
Description: Linux for older PCs (meta-package)
 This package depends on the latest Linux kernel and modules for use on PCs
 with one or more processors not supporting PAE.

Package: linux-headers-686
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 linux-headers-6.1.0-33-686,
Description: Header files for Linux 686 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel 686 configuration.
